{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block content %}
  {% if next %}
    {% if user.is_authenticated %}
      <p class="text-center">
        У вашего аккаунта нет доступа к этой странице.
        Чтобы продолжить, войдите в систему с аккаунтом,
        у которого есть доступ.
      </p>
    {% else %}
      <p class="text-center">
        Пожалуйста, войдите в систему,
        чтобы просматривать эту страницу.
      </p>
    {% endif %}
  {% endif %}

      <div class="card-body">
        <h2>Чтобы использовать Order нужно войти</h2>
        <p>вы можете использовать тестовые данные 'www' для пароля и логина</p>
        <form method="post" action="{% url 'login' %}">
          {% csrf_token %}
          {% bootstrap_form form %}
          <input type="hidden" name="next" value="{{ next }}">
          {% bootstrap_button button_type="submit" content="Войти" %}
          <a href="{% url 'registration' %}">{% bootstrap_button button_type="button" content="Регистрация" %}</a></li>
        </form>

{% endblock %}