{% extends 'base.html' %} 
{% block content %} 
<div style="  display: block;
justify-content: center;
padding-left: 20%;
padding-right: 20%;">
  <h2>Задача</h2>
  <ul>
    <li> Реализовать Django + Stripe API бэкенд со следующим функционалом и условиями: <ul>
        <li>Django Модель Item с полями (name, description, price)</li>
        <li> API с двумя методами: <ul>
            <li> GET /buy/{id}, c помощью которого можно получить Stripe Session Id для оплаты выбранного Item. При выполнении этого метода c бэкенда с помощью python библиотеки stripe должен выполняться запрос stripe.checkout.Session.create(...) и полученный session.id выдаваться в результате запроса </li>
            <li> GET /item/{id}, c помощью которого можно получить простейшую HTML страницу, на которой будет информация о выбранном Item и кнопка Buy. По нажатию на кнопку Buy должен происходить запрос на /buy/{id}, получение session_id и далее с помощью JS библиотеки Stripe происходить редирект на Checkout форму stripe.redirectToCheckout(sessionId=session_id) </li>
          </ul>
        </li>
        <li>Запуск используя Docker</li>
        <li>Использование environment variables</li>
        <li>Просмотр Django Моделей в Django Admin панели</li>
        <li>Запуск приложения на удаленном сервере, доступном для тестирования</li>
        <li> Модель Order, в которой можно объединить несколько Item и сделать платёж в Stripe на содержимое Order c общей стоимостью всех Items </li>
        <li> Модели Discount, Tax, которые можно прикрепить к модели Order и связать с соответствующими атрибутами при создании платежа в Stripe - в таком случае они корректно отображаются в Stripe Checkout форме. </li>
        <li> Добавить поле Item.currency, создать 2 Stripe Keypair на две разные валюты и в зависимости от валюты выбранного товара предлагать оплату в соответствующей валюте </li>
        <li>Реализовать не Stripe Session, а Stripe Payment Intent</li>
      </ul>
    </li>
  </ul>
</div> 
{% endblock %}